.table {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.table__btn {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.table__dltMsg {
    border: none;
    width: 80%;
}

.table__msg {
    border: none;
    background-color: #6eefac;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    color: var(--clr-slate800);
    font-size: var(--size-base);
    font-weight: 600;
    width: 100%;
    padding: 0.5rem;
}

.table-auto {
    font-size: var(--size-sm);
    width: 80%;
    margin-bottom: 3rem;
}

.table__head {
    background-color: rgba(253, 105, 192, 1);
}

tr:nth-child(even) {
    background-color: #fecceb;
}

.table__icon {
    display: inline-block;
    align-content: flex-end;
    width: 1rem;
    height: auto;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {  
    .table__msg {
        padding: 1rem 1.5rem;
    }

    .table-auto {
        font-size: var(--size-xl);
    }

    .table__icon {
        width: 1.5rem;
        height: auto;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */