.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero__title {
    color: var(--clr-slate800);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -0.03em;
    line-height: 0.9;
}

.hero__form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    width: 80%;
}

.hero__form .hero__half {
    flex: 1;
    min-width: 200px;
    margin: 0 1rem;
}

.hero__form .hero__full {
    flex: 1;
    min-width: 200px;
    margin: 0 1rem;
}

.hero__form .hero__three {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--clr-slate400);
    border-radius: 2rem;
    padding: 2rem;
    margin: 0 1rem;
}

.hero__attachments {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.hero__subtitle {
    display: flex;
    font-size: var(--size-lg);
    font-weight: 600;
    padding: 0 0 1rem 0;
}

.hero__input {
    font-size: var(--size-lg);
    font-weight: 500;
    border: 2px solid var(--clr-slate400);
    border-radius: 2rem;
    background-color: white;
    padding: 0.7rem;
    margin: 0.5rem 0;
    width: 100%;
}

.hero__details {
    font-size: var(--size-lg);
    font-weight: 500;
    text-align: justify;
    border: 2px solid var(--clr-slate400);
    border-radius: 2rem;
    background-color: white;
    padding: 0.7rem;
    margin: 0.5rem 0;
    width: 100%;
}

.hero__img {
    cursor: zoom-in;
}

.hero__img-fullsize {
    background-color: rgb(255, 192, 203, 0.5);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: zoom-out;
}

.hero__btn-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
}

.hero__btn {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
}


@media (min-width: 475px) {
    .hero {
        gap: 1rem;
    }

    .hero__title {
        font-size: var(--size-5xl);
    }

    .hero__form .hero__full {
        min-width: 300px;
    }
    
    .hero__form .hero__three {
        flex: 1;
        min-width: 250px;
        margin: 0 1rem;
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .hero__title {
        font-size: var(--size-6xl);
    }
    
    .hero__form .hero__full {
        min-width: 800px;
    }

    .hero__form .hero__three {
        flex: 1;
        min-width: 300px;
        margin: 0 1rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .hero {
        gap: 1rem;
    }

    .hero__title {
        font-size: var(--size-7xl);
    }

    .hero__form {
        width: 90%;
    }

    .hero__form .hero__half {
        min-width: 500px;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */